In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from apyori import apriori

In [3]:
df = pd.read_csv('transactions.csv')

In [4]:
df.head()

   TID  Item1  Item2  Item3  Item4  Item5  Item6  Item7  Item8  Item9  Item10
0    1      1      1      0      1      0      0      1      1      1       1
1    2      1      0      1      1      0      0      0      1      0       1
2    3      0      0      1      1      0      0      1      1      0       1
3    4      1      0      1      1      0      0      0      0      1       1
4    5      1      0      1      0      0      0      0      0      0       1

In [14]:
df = df.drop(['TID'],axis=1)

In [15]:
df.head()

   Item1  Item2  Item3  Item4  Item5  Item6  Item7  Item8  Item9  Item10
0      1      1      0      1      0      0      1      1      1       1
1      1      0      1      1      0      0      0      1      0       1
2      0      0      1      1      0      0      1      1      0       1
3      1      0      1      1      0      0      0      0      1       1
4      1      0      1      0      0      0      0      0      0       1

In [22]:
records = []
for i in range(len(df)):
    record = []
    for j in range(len(df.columns)):
        if(df.values[i,j]):
            record.append(df.columns[j])
    records.append(record)

In [23]:
records

[['Item1', 'Item2', 'Item4', 'Item7', 'Item8', 'Item9', 'Item10'],
 ['Item1', 'Item3', 'Item4', 'Item8', 'Item10'],
 ['Item3', 'Item4', 'Item7', 'Item8', 'Item10'],
 ['Item1', 'Item3', 'Item4', 'Item9', 'Item10'],
 ['Item1', 'Item3', 'Item10'],
 ['Item1', 'Item3', 'Item5', 'Item6', 'Item8', 'Item9'],
 ['Item1', 'Item2', 'Item3', 'Item4', 'Item6', 'Item7', 'Item8', 'Item10'],
 ['Item1', 'Item2', 'Item3', 'Item4', 'Item7', 'Item8'],
 ['Item4', 'Item6', 'Item9'],
 ['Item1', 'Item2', 'Item6', 'Item7', 'Item10'],
 ['Item1', 'Item3', 'Item4', 'Item6'],
 ['Item3', 'Item4', 'Item9'],
 ['Item2', 'Item3', 'Item5', 'Item6', 'Item7', 'Item8', 'Item9', 'Item10'],
 ['Item1', 'Item4', 'Item7', 'Item8'],
 ['Item1', 'Item4', 'Item5', 'Item6', 'Item7', 'Item9'],
 ['Item1', 'Item4', 'Item7', 'Item8', 'Item10'],
 ['Item3', 'Item4', 'Item6', 'Item8', 'Item9'],
 ['Item1', 'Item2', 'Item4', 'Item5', 'Item10'],
 ['Item1', 'Item3', 'Item7', 'Item9'],
 ['Item1', 'Item3', 'Item7', 'Item9', 'Item10'],
 ['Item2', 'Item7', 'Item9', 'Item10'],
 ['Item1', 'Item2', 'Item3', 'Item5', 'Item7', 'Item8'],
 ['Item1', 'Item2', 'Item5', 'Item8', 'Item10'],
 ['Item3', 'Item7', 'Item9', 'Item10'],
 ['Item2', 'Item4', 'Item5', 'Item7', 'Item9', 'Item10'],
 ['Item2', 'Item3', 'Item5', 'Item6', 'Item7', 'Item9'],
 ['Item5', 'Item8'],
 ['Item1', 'Item4', 'Item5', 'Item7', 'Item9'],
 ['Item1', 'Item2', 'Item4', 'Item6', 'Item9', 'Item10'],
 ['Item2', 'Item4', 'Item5', 'Item8'],
 ['Item1', 'Item2', 'Item3', 'Item4', 'Item5', 'Item7'],
 ['Item1', 'Item3', 'Item5', 'Item6', 'Item9', 'Item10'],
 ['Item1', 'Item2', 'Item3', 'Item4', 'Item6', 'Item7', 'Item8'],
 ['Item3', 'Item4', 'Item5', 'Item7', 'Item8'],
 ['Item1', 'Item2', 'Item3', 'Item4', 'Item6', 'Item9'],
 ['Item2', 'Item3', 'Item4', 'Item6', 'Item8', 'Item10'],
 ['Item1', 'Item2', 'Item4', 'Item5', 'Item6', 'Item7', 'Item8'],
 ['Item4', 'Item5', 'Item7'],
 ['Item2', 'Item3', 'Item6', 'Item9', 'Item10'],
 ['Item2', 'Item4', 'Item7', 'Item8'],
 ['Item2', 'Item3', 'Item7', 'Item9', 'Item10'],
 ['Item2', 'Item4', 'Item5', 'Item7', 'Item9'],
 ['Item2', 'Item3', 'Item4', 'Item5', 'Item6', 'Item7'],
 ['Item1', 'Item2', 'Item3', 'Item6', 'Item7', 'Item9'],
 ['Item1', 'Item2', 'Item3', 'Item4', 'Item8'],
 ['Item6', 'Item8', 'Item9'],
 ['Item2', 'Item4', 'Item8', 'Item10'],
 ['Item1', 'Item2', 'Item3', 'Item4', 'Item8', 'Item10'],
 ['Item1', 'Item4', 'Item6', 'Item7', 'Item9', 'Item10'],
 ['Item2', 'Item8', 'Item9']]

In [24]:
min_support = 0.03
min_confidence = 0.7
rules = list(apriori(records,min_support=min_support,min_confidence=min_confidence))

In [37]:
df1 = pd.DataFrame(rules)

In [38]:
df1.head()

,items,support,ordered_statistics
0,"(Item4, Item8)",0.34,"[((Item8), (Item4), 0.7083333333333334, 1.1067..."
1,"(Item4, Item1, Item2)",0.22,"[((Item1, Item2), (Item4), 0.7333333333333334,..."
2,"(Item4, Item8, Item1)",0.20,"[((Item8, Item1), (Item4), 0.7692307692307693,..."
3,"(Item6, Item1, Item7)",0.14,"[((Item6, Item7), (Item1), 0.7000000000000001,..."
4,"(Item10, Item5, Item2)",0.08,"[((Item10, Item5), (Item2), 0.7999999999999999..."